main{
    /* height:1100px; */
}
main>div{
    display:block;
}
.subsection{
    border: 1px solid;
    margin-top:-196px;
    height : 774px;
    width:100%;
    position:relative;

}
main>.subsection>.sub1{
    position: relative;
}
main>.subsection>.sub1>.sub2{}
main>.subsection>.sub1>.sub2>.front{
    width:100%;
    display: block;
}
main>.subsection>.sub1>.sub2>.front>a{
    background-size: contain;
    background-repeat: no-repeat;
}
.sub1{
    position:relative;
}
.sub1>.sub2{
    position:relative;
    transform-style:preserve-3d;
    transition:1.5s;
}
.sub2>.front img{
    width:100%;
    height: 774px;
    z-index:-10;
    vertical-align: top;
    position:absolute;
}
.sub2>.back img{
    width:100%;
    height: 774px;
    z-index:-10;
    vertical-align: top;
    position:absolute;
}
.sub2>.front,
.sub2>.back{
    /* position:relative; */
    backface-visibility: hidden;
}
.sub2>.front{
    z-index:2;
    /* display: flex; */
}
.sub2>.back{
    display:flex;
    transform: rotateY(180deg);
}
.sub1:hover .sub2{
    transform:rotateY(180deg);
}
.contents{
    display:flex;
    border:1px solid;
    width: 100%;
    height: 424px;
    background-color: lightgray;
}
.contents>.contentslist{
    /* height:262px; */
    width:100%;

}
.contents>.contentslist>.mainmovie{
   display: flex;
   position:relative;
   height: 424px;
   justify-content: space-around;
}
.contents>.contentslist>.mainmovie>li{
    list-style: none;
    position: relative;
    height:50px;
    align-items: center;
    /* display: flex; */

}
.contents>.contentslist>.mainmovie>li>a{
    text-decoration: none;
    color:black;
    margin-top:10px;
    /* border:1px solid;     */
    text-align: center;
    align-items: center;
    font-size:12px;
    font-weight: bold;
    margin-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.contents>.contentslist>.mainmovie>li>a img{
    width:232px;
    height: 312px;
    margin-top:25px;
    margin-left:10px;
    padding-bottom:30px;

}
   
